extends ./layout/main_layout.pug

block title
    title #{docTitle}

block stylesheet
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    main
      form.product-form(action="/admin/product" method="POST")
        div.form-control
          label(for="title") Title
          input(type="text",name="title")#title 
        div.form-control
          label(for="price") Price
          input(type="number",name="harga")#price
        div.form-control
          label(for="desc") Description
          textarea(type="text",name="deskripsi",rows="4",cols="41")#desc
        button(type="submit") Add Product