<%- include('ejspartiallayout/head.ejs')  %> 
  </head>

  <body>
    <%- include('ejspartiallayout/navigation.ejs') %> 

    <main>
      <h1>My Products</h1>
      <p>List of all the products...</p>
    </main>
<%- include('ejspartiallayout/end.ejs')  %> >
